<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <title>Dashboard - Admin</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>

<body>

<section layout:fragment="content-left">

</section>

<section layout:fragment="content">
    <!-- INSERT CONTENT HERE -->

    <ul>
        <li><a href="/campaign/form">Entrer une nouvelle campagne</a></li>
        <li><a href="#">Agriculture</a></li>
        <li><a href="#">Affaires étrangères</a></li>
        <li><a href="#">Santé</a></li>
        <li><a href="#">intérieur</a></li>
        <li><a href="#">Transports</a></li>
        <li><a href="#">Education</a></li>
    </ul>


</section>

<section layout:fragment="content-right">

    <!-- INSERT SOMETHING HERE -->

</section>


</body>
</html>

<!--
    <p>Liste des utilisateurs</p>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Options</th>
        </tr>
        <tr th:each="campaign : ${recentCampaigns}">
                <td th:text="${campaign.getId()}" >
                <td th:text="${campaign.getStartDate()}" >
                <td th:text="${campaign.getEndDate()}" >

                <ul th:each="option: ${campaign.getOptions()}">
                    <li th:text="${option.getOption()}" >
                </ul>

        </tr>

    </table>
    -->
