<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Dashboard - Admin</title>

</head>

<body>
<section layout:fragment="content">
    <!-- INSERT CONTENT HERE -->
    <ul class="dropdown-menu">
        <li><a href="/campaign/form">Entrer une nouvelle campagne</a></li>
        <li><a href="#">Agriculture</a></li>
        <li><a href="#">Affaires étrangères</a></li>
        <li><a href="#">Santé</a></li>
        <li><a href="#">intérieur</a></li>
        <li><a href="#">Transports</a></li>
        <li><a href="#">Education</a></li>
    </ul>

</section>

<section layout:fragment="content-right">

    <!-- INSERT SOMETHING HERE -->
    <div class="panel panel-primary">
        <div class="panel-heading">jhdsahfjhdfhs</div>
        <div class="panel-body" style="min-height: 10; max-height: 10;">fdoinfds sdofjohisdfj</div>
    </div>

</section>


</body>
</html>

<!--
    <p>Liste des utilisateurs</p>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Options</th>
        </tr>
        <tr th:each="campaign : ${recentCampaigns}">
                <td th:text="${campaign.getId()}" >
                <td th:text="${campaign.getStartDate()}" >
                <td th:text="${campaign.getEndDate()}" >

                <ul th:each="option: ${campaign.getOptions()}">
                    <li th:text="${option.getOption()}" >
                </ul>

        </tr>

    </table>
    -->
