<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title th:text="${campaign.getTopic()?.getTitle()}">Campagne </title>
</head>

<body>

<section layout:fragment="content-left">

</section>

<section layout:fragment="content">
    <!-- INSERT CONTENT HERE -->

    <table class="table">
        <tr>
            <th>Sujet</th>
            <td th:text="${campaign.getTopic()?.getTitle()}" >
        </tr>
        <tr>
            <th>Description</th>
            <td th:text="${campaign.getTopic()?.getSummary()}" >
        </tr>
    </table>

    <hr>

    <form action="/votes/" class="form-group" method="post">
        <div>
            <div th:each="option : ${campaign.getOptions()}">
                <input th:id="${option.getId()}" th:type="radio" th:name="optionId" th:value="${option.getId()}">
                <label th:for="${option.getId()}" th:text="${option.getOption()}" />
                <input type="hidden" name= "campaignId" th:value="${campaign.getId()}">
            </div>
        <input class="btn btn-default btn-primary" type="submit" value="Voter">
        </div>
    </form>

</section>

<section layout:fragment="content-right">
    <a th:href="@{'/results/' + ${campaign.getId()}}" th:text="'Voir les résultats'"></a>
    <!-- <a th:href="@{'/campaign/id/'+ ${campaign.getId()}}" th:value="${campaign.getId()}" th:text="${campaign.getTopic()?.getTitle()}"> -->
</section>

</body>
</html>
