<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout2.html}">

<head>
    <meta charset="UTF-8">
    <title>Template</title>

</head>

<body>


<section layout:fragment="content">
    <!-- INSERT CONTENT HERE -->
    <form th:action="@{'/campaign/select/'}" method="post">

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="startDate">Début de période</label>
                <input type="date" class="form-control" id="startDate" name="startDate">
            </div>
            <div class="form-group col-md-6">
                <label for="endDate">Fin de période</label>
                <input type="date" class="form-control" id="endDate" name="endDate">
            </div>
        </div>
        <div class="form-row">
            <button type="submit" class="form-control-static btn btn-primary">Filtrer</button>
        </div>
    </form>

    <hr>
    
    <p>Liste des campagnes</p>

    <h1 th:text="${error}" >

    <table class="table">
        <table th:id="comingSoonTable" class="table table-bordered table-striped">
            <tr>
                <th>Catégorie</th>
                <th>Question</th>
                <th>Date de début</th>
                <th>Date de fin</th>
            </tr>
            <tr th:each="campaign : ${campaigns}">
                <td th:text="${campaign.getCategory()?.getName()}">
                <td><a th:href="@{'/campaign/id/'+ ${campaign.getId()}}" th:value="${campaign.getId()}" th:text="${campaign.getQuestion()}">
                <td th:text="${campaign.getStartDate()}" >
                <td th:text="${campaign.getEndDate()}" >
            </tr>
        </table>
    </table>
</section>

<section layout:fragment="content-right">

    <!-- INSERT SOMETHING HERE -->

</section>


</body>
</html>
