<div th:fragment="header">
    <header>
        <!-- col 1  -->
        <div class="row">
            <div class="col-md-3">
                <img id="logo" src="/panier.png" alt="panier rigolo"/>
            </div>
            <!-- col 2  -->
            <div class="col-md-7">
                <h1>Bienvenue sur voixlibre.org !</h1>
                <h3>Donnez de la voix libre</h3>
            </div>

            <div class="col-md-2">
                <a th:unless="${user}" href="/sign/login">Identification</a>
                <!-- <a th:unless="!${username}" th:href="@{'/'+ ${user.getId()}}">Profil utilisateur</a> -->
            </div>
            <!-- col 3  -->
            <!--
            <div class="col-md-2">
                <a th:unless="${username}" href="/sign/">Identification</a>
                <h3 th:unless="!${username}" th:text="'Bienvenue, ' + ${username}"/>
            </div>
            -->
        </div>
        <div>
            <nav class="sidenav">
                <ul id="inline-menu">
                    <li ><a href="/">Accueil</a> </li>
                    <li><a href="/users/list">Liste des utilisateurs</a></li>
                    <li><a href="/topics/">Liste des sujets</a></li>
                    <li><a href="/test/test">Test</a></li>

                </ul>
            </nav>
        </div>

    </header>
</div>
