<div th:fragment="header">
    <header>
        <!-- col 1  -->
        <div id="jumbo" class="jumbotron">
            <div>
                <h3>voixlibre.org </h3>
                <h3>Lisez, pensez, votez...</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">

                <ul>
                    <div th:inline="text">
                        <li><p th:unless="!${user}"> Bienvenue, [[${user.getFirstName()}]] <span> - </span> <a th:unless="!${user}" th:href="@{/sign/out}" th:text="Déconnexion"/></p></li>
                    </div>
                    <li><a th:unless="${user}" th:href="@{/sign/}">Identification</a></li>
                </ul>

            </div>
            <!-- col 2  -->
            <div class="col-md-7">
                <form class="form-group">
                <div class="col-md-6">
                    <input class="col form-control" type="text" placeholder="Search" aria-label="Search">
                </div>
                <div class="col-md-6">
                    <a href="#" class="btn btn-default btn-primary"><i class="fa fa-search">Recherche</i></a>
                </div>
                </form>
            </div>
            <div class="col-md-2">

                <div>
                    <img id="gitHu" th:src="@{logos/binaryExample.jpg}" alt="logo"/>
                </div>

            </div>

            <!-- col 3  -->
            <!--
            <div class="col-md-2">
                <a th:unless="${username}" href="/sign/">Identification</a>
                <h3 th:unless="!${username}" th:text="'Bienvenue, ' + ${username}"/>
            </div>
            -->
        </div>

        </div>
    </header>
</div>
