<div th:fragment="navbar">
    <nav class="navbar navbar-expand">

        <div class="dropdown">
            <button class="dropbtn">Menu<span class="caret"/></button>
            <div class="dropdown-content">
                <a href="/">Accueil</a>
                <a href="/topics/">Liste des sujets</a>
                <a href="/test/test">Test</a>

            </div>
        </div>

        <div th:unless="!${user}" class="dropdown">
            <button class="dropbtn">Administrateur</button>
            <div class="dropdown-content">
                <a href="/users/list">Liste des utilisateurs</a>
                <a href="/admin/dashboard">Dashboard</a>
                <a href="/test/index">index</a>
                <a href="/test/blank">blank</a>
                <a href="/test/buttons">buttons</a>
                <a href="/test/cards">cards</a>
                <a href="/test/forgotPasswords">forgotPasswords</a>
                <a href="/test/buttons">buttons</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Test</button>
            <div class="dropdown-content">
                <a href="/test/index">index</a>
                <a href="/test/blank">blank</a>
                <a href="/test/buttons">buttons</a>
                <a href="/test/cards">cards</a>
                <a href="/test/forgotPasswords">forgotPasswords</a>
                <a href="/test/buttons">buttons</a>
            </div>
        </div>






    </nav>



</div>
