<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>

<body>

<section layout:fragment="content">
    <!-- INSERT CONTENT HERE -->
    <h3>Campagnes récentes</h3>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Sujet</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Options</th>
        </tr>
        <tr th:each="campaign : ${recentCampaigns}">
            <td><a th:href="@{'/campaign/id/'+ ${campaign.getId()}}" th:value="${campaign.getId()}" th:text="${campaign.getId()}">
            <td th:text="${campaign.getTopic()?.getTitle()}">
            <td th:text="${campaign.getStartDate()}" >
            <td th:text="${campaign.getEndDate()}" >
            <td>
                <ul th:each="option: ${campaign.getOptions()}">
                    <li th:text="${option.getOption()}" >
                </ul>
            </td>
        </tr>
    </table>

    <hr>

</section>

</body>
</html>
